* {
    margin: 0;
    padding: 0;
}

.header{
	width: 1920px;
	height: 110px;
	background: #E3EFEC;
	box-shadow: 0px 5px 10px #0000000A;
	position: fixed;
}

.logo img{
	margin-top: 4px;
	margin-left: 48px;
	width: 140px;
}
  
.line{
    position: relative;
    top: 0;
}

.post{
  border-radius: 25px;
  margin-top: 65px;
  margin-left: 150px;
  width: 660px;
  background: #FFFFFF;
  box-shadow: 0px 8px 15px #00000014;
  opacity: 1;
  padding-bottom: 25px;
}

.post_contents{
	border: 1px solid #C2C1C7;
	border-radius: 20px;
	margin: auto;
	margin-top: 35px;
	width: 610px
}

.post_bottom img{
	width: 580px;
	margin-left: 15px;
	margin-top: -5px;
}


.profie-post img{
	margin-top: 25px;
	margin-left: 25px;
	width: 45px;
}

.author_name {
	margin-left: 85px;
	margin-top: -36px;
	font-family: Helvetica;
	font-size: 18px
}

.report-post{
	margin-left: 610px;
	margin-top: -35px;
}

.report-post img{
	width: 25px;
}

p{
	font-family: Helvetica;
	font-size: 15px;
	color: #606470;
	margin-left: 17px;
	margin-top: 10px;
	padding-bottom: 17px;
}

h1{
	font-family: Helvetica;
	font-size: 18px;
	color: #606470;
	margin-left: 17px;
	margin-top: 15px;
}

a{
	color: #606470;
	text-decoration: none;
}

#line_post_top {
	width: 573px;
	margin-left: 17px;
}

#line_post_bottom {
	width: 573px;
	margin-left: 17px;
}

.image_in_post img{
	width: 610px;
	margin-top: 15px;
}

.top_menu{
	margin-left: 950px;
	margin-top: -95px;
	position: relative;
}

.menu ul{
    display: flex;
    list-style-type: none;
    column-gap: 2em;
}

.menu li {
    display: inline-block;
}

.menu ul a{
    text-decoration: none;
}

.menu img{
  width: 40px;
  margin-right: 15px;
}


#home_icon{
	width: 35px;
	margin-bottom: 10px;
}

#heart_icon, #post_icon, #besked_icon{
	margin-left: 32px;
	width: 35px;
	margin-bottom: 10px;
}

#profile_icon{
	margin-left: 32px;
	width: 65px;
}

.Content2{
    position: relative;
    right: -73%;
    margin-bottom: -127px;
	margin-left: -95px;
	margin-top: -60px;
}

.searchbar{
	width: 330px;
	height: 50px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 8px 15px #00000014;
	border-radius: 33px;
	opacity: 1;
	position: fixed;
}

.searchbar img{
	margin-top: 13.5px;
	width: 25px;
	margin-left: 15px;
}

.menu2 img{
	width: 365px;
	margin-top: 75px;
	position: fixed;
	margin-left: -15px;
}

.fox_mascot img{
	position: fixed;
	width: 380px;
	margin-top: 385px;
	margin-left: -45px;
}

body {
	background-color: #B7D8DF;
}

.box p{
	margin-top: 185px;
	color: #B7D8DF;
}

